:root {
  --primary-color: #9f575d;
  --accent-color:#9A666E;
  --text-color: #black;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.logo {
  max-height: 50px;
}
body {
  margin-top: 100px;
  background-color: #F8F6F5 !important;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 100px !important;
  font-family: "alike";
  color:var(--text-color);
text-align: center !important;
}

h2 {
  padding-top: 50px;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;;
  color:var(--text-color)
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  font-family: 'Montserrat', sans-serif;;
  color:var(--text-color)
}
.subhead{
  padding: 50px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;;
  color:var(--text-color);
  text-align: center;

}
h4 {
  padding-top: 100px ;
  font-size: 55px !important;
  font-weight: bold;
  font-family: "alike";
  color:var(--text-color)
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-family: "scope one";
  color:var(--text-color) ;
}
.hero{
  height: 100%;
  width: 100%;
  background-color: #374543;
  text-align: center;
  padding-top: 20px;
  padding: 80px 80px;
  color: white;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--accent-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.about-hero{
  background: #374543;
  font-family: "Nunito";
  color: white;
  padding-top: 20px;
  padding-bottom: 0px;
  border-radius: 12px;
  margin: 10%
  ;
 }
 img.me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    border-radius: 15px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
 
}